.upcom-editor {
    width: 100%;
    height: 100%;
}

.ace_editor.upcom-editor,
.ace_editor.upcom-editor {
    width: 100%;
    height: 100%;
    font-family: "Monosten A", "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}